{% include 'bas.html' %}
 <title>文章列表</title>
<body>



<p><a href="/add_page/">添加文章</a></p>
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" style="width:25%"></div>
    <div class="progress-bar progress-bar-info progress-bar-striped" style="width:25%"></div>
    <div class="progress-bar progress-bar-striped progress-bar-warning" style="width:30%"></div>
    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width:20%"></div>
</div>
{% for response in all_response %}

<h5>ID:{{ response.id }}</h5><br />
 <p>Email:{{ response.email }}</p><br />
<h3 class="text-left text-warning">标题:{{ response.title }}
<a>修改</a>
<a>删除</a>
</h3>
<p class="text-center text-danger">内容:{{ response.content }}</p>
<h4 class="pull-right" >作者:{{ response.author }}</h4>
<br /><br />
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" style="width:25%"></div>
    <div class="progress-bar progress-bar-info progress-bar-striped" style="width:25%"></div>
    <div class="progress-bar progress-bar-striped progress-bar-warning" style="width:30%"></div>
    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width:20%"></div>
</div>
    {% endfor %}


{#<table>#}
{##}
{#    {% for key, value in meta %}#}
{#<tr>#}
{#<td><strong>{{ key }}</strong></td>#}
{#    <td>{{ value }} </td>#}
{##}
{#</tr>#}
{#        {% endfor %}#}
{#</table>#}

</body>
</html>